[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
soundfile = "*"
ffmpeg = "*"
pandas = "*"
cohere = "*"
datasets = "*"
jupyterlab = "*"
pydantic = {extras = ["dotenv"], version="*"}
python-dotenv = "*"
pickle5 = "*"
numpy = "*"
scikit-learn = "*"
tts = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
